[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
User=client1
ExecStart=/home/client1/campus-monitoring/bin/node_exporter
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
