[Unit]
Description=Promtail
After=network.target

[Service]
Type=simple
User=client1
ExecStart=/home/client1/campus-monitoring/bin/promtail -config.file=/home/client1/campus-monitoring/promtail/config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
