SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin
MAILTO=""
HOME=/home/client1

# Утренняя музыка
45 7 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh utro 110
59 7 * * 1-5 /home/client1/campus-cron-stop-notify.sh

# Гимн (только понедельник)
0 8 * * 1 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh himn 160
3 8 * * 1 /home/client1/campus-cron-stop-notify.sh

# Перемены 1–9
40 8 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 1peremena 110
45 8 * * 1-5 /home/client1/campus-cron-stop-notify.sh
25 9 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 2peremena 110
35 9 * * 1-5 /home/client1/campus-cron-stop-notify.sh
15 10 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 3peremena 110
20 10 * * 1-5 /home/client1/campus-cron-stop-notify.sh
0 11 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 4peremena 110
5 11 * * 1-5 /home/client1/campus-cron-stop-notify.sh
45 11 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 5peremena 110
55 11 * * 1-5 /home/client1/campus-cron-stop-notify.sh
35 12 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 6peremena 110
40 12 * * 1-5 /home/client1/campus-cron-stop-notify.sh
20 13 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 7peremena 110
30 13 * * 1-5 /home/client1/campus-cron-stop-notify.sh
10 14 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 8peremena 110
15 14 * * 1-5 /home/client1/campus-cron-stop-notify.sh
55 14 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-notify.sh 9peremena 110
10 15 * * 1-5 /home/client1/campus-cron-stop-notify.sh
@reboot mkdir -p /tmp/campus-monitoring/bin /tmp/campus-monitoring/promtail && ln -sf /home/client1/campus-monitoring/bin/promtail /tmp/campus-monitoring/bin/promtail && ln -sf /home/client1/campus-monitoring/promtail/config.yaml /tmp/campus-monitoring/promtail/config.yaml
