SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin
MAILTO=""
HOME=/home/client1

45 7 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh utro 110
59 7 * * 1-5 /home/client1/campus-cron-stop-local.sh
0 8 * * 1 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh himn 160
3 8 * * 1 /home/client1/campus-cron-stop-local.sh
40 8 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 1peremena 110
45 8 * * 1-5 /home/client1/campus-cron-stop-local.sh
25 9 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 2peremena 110
35 9 * * 1-5 /home/client1/campus-cron-stop-local.sh
15 10 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 3peremena 110
20 10 * * 1-5 /home/client1/campus-cron-stop-local.sh
0 11 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 4peremena 110
5 11 * * 1-5 /home/client1/campus-cron-stop-local.sh
45 11 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 5peremena 110
55 11 * * 1-5 /home/client1/campus-cron-stop-local.sh
35 12 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 6peremena 110
40 12 * * 1-5 /home/client1/campus-cron-stop-local.sh
20 13 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 7peremena 110
30 13 * * 1-5 /home/client1/campus-cron-stop-local.sh
10 14 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 8peremena 110
15 14 * * 1-5 /home/client1/campus-cron-stop-local.sh
55 14 * * 1-5 MEDIA_ROOT=/mnt/music/Media LOG_FILE=/home/client1/action.log /home/client1/campus-cron-media-local.sh 9peremena 110
10 15 * * 1-5 /home/client1/campus-cron-stop-local.sh
