SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin
MAILTO=""
HOME=/home/vm1

# Утренняя музыка
45 7 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh utro 115
59 7 * * 1-5 /home/vm1/campus-cron-stop-local.sh

# Гимн (только понедельник)
0 8 * * 1 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh himn 150
3 8 * * 1 /home/vm1/campus-cron-stop-local.sh

# Перемены 1–9
40 8 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 1peremena 115
45 8 * * 1-5 /home/vm1/campus-cron-stop-local.sh
25 9 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 2peremena 115
35 9 * * 1-5 /home/vm1/campus-cron-stop-local.sh
15 10 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 3peremena 115
20 10 * * 1-5 /home/vm1/campus-cron-stop-local.sh
0 11 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 4peremena 115
5 11 * * 1-5 /home/vm1/campus-cron-stop-local.sh
45 11 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 5peremena 115
55 11 * * 1-5 /home/vm1/campus-cron-stop-local.sh
35 12 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 6peremena 115
40 12 * * 1-5 /home/vm1/campus-cron-stop-local.sh
20 13 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 7peremena 115
30 13 * * 1-5 /home/vm1/campus-cron-stop-local.sh
10 14 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 8peremena 115
20 14 * * 1-5 /home/vm1/campus-cron-stop-local.sh
55 14 * * 1-5 LANDAU_ROOT=/home/vm1/Landau LOG_FILE=/home/vm1/action.log /home/vm1/campus-cron-landau-local.sh 9peremena 115
10 15 * * 1-5 /home/vm1/campus-cron-stop-local.sh
